.linkk{
    text-decoration: none;
    color: rgb(149, 152, 156);
    font-weight: bold;
    background-color:   rgb(6, 42, 86);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 2px 5px;
}